* {
  padding: 0;
  margin: 0;
}  


.among {
  width: 70px;
  height: 80px;
  position: relative;
  top: 320px;
  bottom: 0px;
} 

#game {
  width: 900px;
  height: 400px;
  border: 6px solid black;
  display: block;
}

.block {
  width: 20px;
  height: 30px;
  position: relative;
  top: 290px;
  left: 980px;
  animation: block 2s ;
  background-color: black;

}

@keyframes block {
  0%{left: 880px;}
  100%{left: -40px}
}



